.Info{
 display: flex;
 width: 100%;
 justify-content: center;
 background: var(--gray-light);

}
.Details{
  display: flex;
  align-items: center;
  font-size:.6rem;
  color: var(--primary);
  padding: 10px;
}
.Text {
  font-weight: 600;
}
.Text p + p {
  font-weight: 300;
}
.Details img {
 width: 30px;
 height: 30px;
}