.Details{
  color: var(--primary);
   
}
.Box{
  border: 1px solid var(--primary);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 4px 4px black;
  width: 90%;
  margin:100px  auto;
  justify-content: center;
 align-items: center;
  display: flex;
}
.Remedio{
  width: 200px;
  height: 200px;
}


@media  screen and (min-width:769px) {
  .Box{
    width: 50%;
  }
}