.shopcartContent {
  display: flex;
  flex-direction: row;

  gap: 24px;
}

.shopcartInfo {
  display: flex;
  flex-direction: row;

  gap: 24px;
}

.shopcartImage {
  width: 172px;
  height: 172px;

  border-radius: 24px;
}

.shopcartDetails {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.shopcartName {
  font-size: 26px;
  font-weight: 400;

  color: #0D4F81;
}

.shopcartPrice {
  font-size: 26px;
  font-weight: 700;

  color: #0D4F81;
}

.quantityRemove {
  display: flex;

  margin-top: 34px;

  gap: 24px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.buttonQuantity {
  background-color: var(--white);

  border: none;

  color: #0D4F81;

  font-size: 26px;

  cursor: pointer;

  transition: all 0.4s;
}

.buttonQuantity:hover {
  color: var(--primary);
}

.quantityText {
  font-size: 16px;
  font-weight: 400;

  color: #000;
}

.buttonRemove {
  font-size: 18px;
  font-weight: 500;

  background-color: transparent;
  color: #DA0B0E;

  border: none;

  cursor: pointer;

  transition: all 0.4s;
}

.buttonRemove:hover {
  color: #a70d0f;
}